h2{
    text-decoration:underline
}
h2{
    font-size: medium;
    font-family: cursive;
}
tr{
    font-size: medium;
    font-family:cursive;
}
body{
    background-color: rgb(255, 246, 251);
    background-image: url(BACKGROUND/pngtree-abstract-artwork-lilac-pastel-watercolor-texture-background-in-purple-hues-image_13786200.png);
    background-attachment:local
    background-repeat:round
}